{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}
<h1 class="entry-title">{% block blockname %} Hisobdan chiqish  {% endblock blockname %} </h1>
{% block content %}

<br>
<br>
<div class='col-md-8 offset-md-2' style="background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR0kkBy5Ubwa8jk5_Sl_mnv11j6fiIjD-bvyZpxkb07Qr3TYKwcSw)">

        <h1>{% trans "Sign Out" %}</h1>

        <p>{% trans 'Are you sure you want to sign out?' %}</p>

        <form method="post" action="{% url 'account_logout' %}">
          {% csrf_token %}
          {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
          {% endif %}
          <button class='btn btn-primary' type="submit">{% trans 'Sign Out' %}</button>
        </form>
</div>
{% endblock %}

{% block links %}
<div class="col-md-4 ">
  <hr>
  <h3 style='background-color : #999;'>Bizning yon panelimiz</h3>
  <p>Bu yerda o'zingizga yoqqan ma'lumotni qo'yishingiz mumkin, shuningdek, kerakli narsani qo'shishingiz mumkin</p>
  <div class="list-group">
    <a href="#" class="list-group-item">Eng so'nggi xabarlar</a>
    <a href="#" class="list-group-item">E'lonlar</a>
    <a href="#" class="list-group-item">Kalendarlar</a>
    <a href="#" class="list-group-item">va boshqalar</a>
  </div>
</div>
{% endblock links%}
