{% extends 'base.html' %}
{% load static %}
{% block post_detail_link %}

{% endblock %}

{% block content %}
<!-- Page info -->
<div class="page-info-section set-bg" data-setbg="{% static 'webuni/img/page-bg/2.jpg' %}">
  <div class="container">
    <div class="site-breadcrumb">
      <a href="#">Boshs saxifa</a>
      <span>Kurslar/</span>
      <span>Kurslar/</span>
      <span>Kurslar/</span>
    </div>
  </div>
</div>
  {% if lesson is not None %}
	<li><a href="{{ lesson.course.get_absolute_url }}">Kurs : {{ lesson.course.title }}</a></li>
	<li>Nomi : {{ lesson.title }}</li>
  {% endif %}

<!-- Page info end -->

	<div class='container'>
		<h1>{{ lesson.title }}</h1>
		<div class='row'>
			<div class='col-sm-6 col-md-6'>
				{% if lesson is not None %}
				<h3>Mavzu : {{ lesson.title }}</h3>

				<video controls
					   controlsList="nodownload"
					   poster="{{ lesson.thumbnail.url }}"
				       src="/static/{{ lesson.video_url }}"
				       width="300"
				       height="200">
					   Kechirasiz, brauzeringiz o‘rnatilgan videolarni qo‘llab-quvvatlamaydi.
				</video>
				{% else %}
				<h3>Obunani yangilang</h3>
				<p>Bu kursni koʻrish uchun aʼzolikni yangilashingiz kerak boʻladi</p>
				<br>
				<a href="{% url 'memberships:select_membership' %}"><button class="btn btn-warning">A'zolikni yangilash</button></a>
				<hr>
				{% endif %}
			</div>
		</div>
	</div>

{% endblock content %}
