{% extends 'base.html' %}
{% load static %}


{% block content %}

<!-- Page info -->
<div class="page-info-section set-bg" data-setbg="{% static 'webuni/img/page-bg/4.jpg' %}">
  <div class="container">
    <div class="site-breadcrumb">
      <a href="#">Bosh saxifa</a>
      <span>A'loqa</span>
    </div>
  </div>
</div>
<!-- Page info end -->


<!-- search section -->
<section class="search-section ss-other-page">
  <div class="container">
    <div class="search-warp">
      <div class="section-title text-white">
        <h2><span>Kursingizni qidiring</span></h2>
      </div>
      <div class="row">
        <div class="col-lg-10 offset-lg-1">
          <!-- search form -->
          <form class="course-search-form">
            <input type="text" placeholder="Course">
            <input type="text" class="last-m" placeholder="Category">
            <button class="site-btn btn-dark">Kurs izlash</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- search section end -->



<!-- Page -->
<section class="contact-page spad pb-0">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <div class="contact-form-warp">
          <div class="section-title text-white text-left">
            <h2>Biz bilan a'loqa</h2>
            <p>Mijoz juda muhim, mijozni mijoz kuzatib boradi. O'sha paytgacha dunyodagi eng buyuk mauris edi, ammo rasmiy veb-sayt yo'q edi. Shuningdek, huquqiy donolik. </p>
          </div>
          <form class="contact-form">
            <input type="text" placeholder="Ismingiz">
            <input type="text" placeholder="E-mail manzilingiz">
            <input type="text" placeholder="Mavzu nimada">
            <textarea placeholder="Xabaringiz"></textarea>
            <button class="site-btn">Xabar yuborish</button>
          </form>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="contact-info-area">
          <div class="section-title text-left p-0">
            <h2>Aloqa ma'lumotlari</h2>
            <p>O'sha paytgacha dunyodagi eng buyuk mauris edi, ammo rasmiy veb-sayt yo'q edi. Shuningdek, huquqiy donolik. U tomoq kursining oxirida to'xtatildi.</p>
          </div>
          <div class="phone-number">
            <span>To'g'ridan-to'g'ri a'loqa</span>
            <h2>+998 97 521 66 86</h2>
          </div>
          <ul class="contact-list">
            <li>Jizzax viloyati <br>Ravot QFY</li>
            <li>+2348091356855</li>
            <li>itcreative0071@gmail.com</li>
          </ul>
          <div class="social-links">
            <a href="#"><i class="fa fa-pinterest"></i></a>
            <a href="https://m.facebook.com/suyunov.husanbek/"><i class="fa fa-facebook"></i></a>
            <a href="https://twitter.com/it_creative0071/"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-dribbble"></i></a>
            <a href="#"><i class="fa fa-behance"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Page end -->

{% endblock content %}
